@charset "UTF-8";
@font-face {
  font-family: 'Google Sans';
  src: url("../fonts/Google-Sans-Font/GoogleSans-Regular.ttf ");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Google Sans';
  src: url("../fonts/Google-Sans-Font/GoogleSans-Bold.ttf ");
  font-weight: bold;
  font-style: normal;
}

html {
  font-size: 0.55vw;
  font-family: 'Google Sans', sans-serif;
  color: #ffffff;
}

html body {
  margin: 0;
  padding: 0;
  font-size: 0.77vw;
}

html body * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html body ul, html body li, html body input {
  margin: 0;
  padding: 0;
}

html body li {
  list-style-type: none;
}

html body a {
  text-decoration: none;
  color: #797A7C;
}

html body input {
  width: 100%;
  border: none;
  background: none;
}

html body input::-moz-placeholder {
  color: #717278;
  /* Цвет подсказывающего текста */
}

html body .link-block {
  display: block;
  height: 100%;
  width: 100%;
}

html body .dark-bg {
  background: #1B1D21;
  border: 1px solid rgba(77, 77, 81, 0.5);
  border-radius: 3px;
}

html body .header-info {
  padding: 0;
  margin: 1.9rem 0 1.6rem;
  text-align: center;
}

html body .align-c {
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

html body .align-l {
  text-align: left;
}

html body .align-r {
  text-align: right;
}

html body .text-bold {
  font-weight: bold;
}

html body .avatar-big {
  width: 3vw;
  height: 2.5vw;
}

html body .wrapper {
  width: 100vw;
  min-height: 100vh;
  background: url(../images/wrapper-bg-img_2.png) no-repeat;
  background-size: cover;
  position: relative;
}

html body .wrapper .container-xl {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 7.03vw 75.83vw 16.54vw;
      grid-template-columns: 7.03vw 75.83vw 16.54vw;
}

html body .wrapper .header {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 7.03vw 75.83vw 17.14vw;
      grid-template-columns: 7.03vw 75.83vw 17.14vw;
  -ms-grid-rows: 5.02vw;
      grid-template-rows: 5.02vw;
  background: -webkit-gradient(linear, left top, right top, from(#1D2024), to(#18191D));
  background: linear-gradient(90deg, #1D2024 0%, #18191D 100%);
  border-bottom: 1px solid rgba(77, 77, 81, 0.5);
}

html body .wrapper .header .drop-down-list-btn {
  width: 1.4vw;
  height: 1.3vw;
  background-image: url(../images/header/list-games-btn.png);
  background-size: cover;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

html body .wrapper .header .drop-down-list-btn i {
  font-size: 0.5vw;
}

html body .wrapper .header .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

html body .wrapper .header .logo img {
  width: 2.7vw;
  height: auto;
  margin-top: 0.3vw;
}

html body .wrapper .header .info {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 53% 33.7% 13.3%;
      grid-template-columns: 53% 33.7% 13.3%;
  grid-gap: 0%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: -webkit-gradient(linear, left top, right top, from(#1D2024), to(#18191D));
  background: linear-gradient(90deg, #1D2024 0%, #18191D 100%);
}

html body .wrapper .header .info .game {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

html body .wrapper .header .info .game .game-logo {
  margin: 0.65vw 0.1vw 0 1.6vw;
}

html body .wrapper .header .info .game .game-logo img {
  width: 10.2vw;
  height: auto;
}

html body .wrapper .header .info .search {
  background: #1D2024;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #717278;
  width: 22.1vw;
  height: 2.5vw;
}

html body .wrapper .header .info .search input {
  padding: 0.2vw 0 0 1.1vw;
}

html body .wrapper .header .info .search button {
  border: none;
  background: #1D2024;
  color: #717278;
  padding: 0 2rem 0 0;
}

html body .wrapper .header .info .gamers-counter {
  border-left: 3px solid #2A2B31;
  height: 2.5vw;
}

html body .wrapper .header .info .gamers-counter p {
  padding: 0;
  margin: 0;
  text-align: center;
}

html body .wrapper .header .info .gamers-counter .count {
  font-size: 0.99vw;
  color: #F4AE26;
  margin: 0.25vw 0 0.1vw;
}

html body .wrapper .header .short-profile {
  background: #1D2024;
  border-left: 1px solid rgba(77, 77, 81, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

html body .wrapper .header .short-profile .avatar {
  width: 31.4%;
  text-align: center;
  margin-left: 0.05vw;
}

html body .wrapper .header .short-profile .avatar .av-br-short-prof {
  background: url("../images/avatars/av-bg-yellow.svg") no-repeat;
  background-size: contain;
  background-position: center center;
}

html body .wrapper .header .short-profile .avatar .av-border {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 3.7vw;
  height: 3.7vw;
  margin: 0 auto;
}

html body .wrapper .header .short-profile .avatar .av-border .avatar-short-prof {
  width: 65%;
  height: 56%;
  background: url("../images/av3.png") no-repeat;
  background-size: cover;
  -webkit-clip-path: polygon(0% 50%, 25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%);
          clip-path: polygon(0% 50%, 25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%);
}

html body .wrapper .header .short-profile .avatar .av-border .av-OceanD {
  background: url("../images/avatars/av_OceanD.png") no-repeat;
  background-size: 100%;
  background-position: 0% 50%;
}

html body .wrapper .header .short-profile .avatar .av-border .av-VanyaKiller {
  background: url("../images/avatars/av_VanyaKiller.png") no-repeat;
  background-size: 100%;
  background-position: 0% 50%;
}

html body .wrapper .header .short-profile .avatar .av-border .av-F1stM4n {
  background: url("../images/avatars/av_F1stM4n.png") no-repeat;
  background-size: 100%;
  background-position: 0% 50%;
}

html body .wrapper .header .short-profile .avatar .av-border .av-SaWyer {
  background: url("../images/avatars/av_SaWyer.png") no-repeat;
  background-size: 100%;
  background-position: 0% 50%;
}

html body .wrapper .header .short-profile .avatar .av-border .av-le4oz22 {
  background: url("../images/avatars/av_le4oz22.png") no-repeat;
  background-size: 100%;
  background-position: 0% 50%;
}

html body .wrapper .header .short-profile .avatar .av-border .av-Shadow52 {
  background: url("../images/avatars/av_Shadow52.png") no-repeat;
  background-size: 100%;
  background-position: 0% 50%;
}

html body .wrapper .header .short-profile .player-info {
  width: 68.6%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

html body .wrapper .header .short-profile .player-info .about-player {
  width: 75.55%;
}

html body .wrapper .header .short-profile .player-info .about-player p {
  margin: 0;
}

html body .wrapper .header .short-profile .player-info .about-player .win-points-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 0.3vw;
}

html body .wrapper .header .short-profile .player-info .about-player .win-points-container .win-points {
  font-size: 0.99vw;
  color: #F4AE26;
  margin-left: 0.6rem;
}

html body .wrapper .header .short-profile .player-info .list-of-profile {
  margin: 0 auto;
}

html body .wrapper .header .short-profile .player-info .list-of-profile .polygon-bullet {
  width: 47.17%;
}

html body .wrapper .main {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
}

html body .wrapper .main .nav {
  background: #1D2024;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

html body .wrapper .main .nav ul {
  width: 100%;
  padding-top: 0.45vw;
}

html body .wrapper .main .nav ul li {
  width: 100%;
  height: 5.31vw;
}

html body .wrapper .main .nav ul li:first-child div {
  padding: 0;
}

html body .wrapper .main .nav ul li:first-child div p {
  margin: -0.6vw 0 0;
}

html body .wrapper .main .nav ul li .active-link {
  border-bottom: 2px solid #FFD128;
  color: #ffffff;
  background: url("../images/hover/hover-bg-game-varieties.png") no-repeat;
  background-size: contain;
  background-position: bottom center;
}

html body .wrapper .main .nav ul li .active-link div svg path {
  fill: #F4AE26;
}

html body .wrapper .main .nav ul li a {
  border-bottom: 2px solid #1B1D21;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

html body .wrapper .main .nav ul li a:hover {
  border-bottom: 2px solid #FFD128;
  color: #ffffff;
  background: url("../images/hover/hover-bg-game-varieties.png") no-repeat;
  background-size: contain;
  background-position: bottom center;
}

html body .wrapper .main .nav ul li a:hover div svg path {
  fill: #F4AE26;
  -webkit-filter: url("#filter0_d");
          filter: url("#filter0_d");
  fill: url("#paint0_linear");
}

html body .wrapper .main .nav ul li a div {
  padding-top: 0.3vw;
}

html body .wrapper .main .nav ul li a div svg path {
  fill: #797A7C;
}

html body .wrapper .main .nav ul li a div p {
  margin: 0.3vw 0 0;
}

html body .wrapper .main .main-info {
  padding: 2.1vw 2.1vw 2.1vw 2.1vw;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 49.27vw 18.85vw;
      grid-template-columns: 49.27vw 18.85vw;
  -ms-grid-rows: 21.88vw 20.68vw;
      grid-template-rows: 21.88vw 20.68vw;
  grid-gap: 2.2vw;
}

html body .wrapper .main .main-info .main-info-box {
  mix-blend-mode: normal;
  border-radius: 3px;
  border: 1px solid rgba(77, 77, 81, 0.5);
}

html body .wrapper .main .main-info .line-horiz {
  width: 100%;
  height: 1px;
  background: -webkit-gradient(linear, right top, left top, from(rgba(79, 79, 83, 0)), color-stop(50%, #4f4f53), to(rgba(79, 79, 83, 0)));
  background: linear-gradient(to left, rgba(79, 79, 83, 0) 0%, #4f4f53 50%, rgba(79, 79, 83, 0) 100%);
}

html body .wrapper .main .main-info .game-varieties {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(45.23%, rgba(29, 32, 36, 0.6)), to(rgba(29, 32, 36, 0)));
  background: linear-gradient(180deg, rgba(29, 32, 36, 0.6) 45.23%, rgba(29, 32, 36, 0) 100%);
}

html body .wrapper .main .main-info .game-varieties .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

html body .wrapper .main .main-info .game-varieties .header a {
  width: 50%;
  border-bottom: 2px solid rgba(77, 77, 81, 0.5);
}

html body .wrapper .main .main-info .game-varieties .header a:hover {
  border-bottom: 2px solid #FFD128;
  color: #ffffff;
  background: url("../images/hover/hover-bg-game-varieties.png") no-repeat;
  background-size: contain;
  background-position: bottom center;
}

html body .wrapper .main .main-info .game-varieties .header .active-link {
  border-bottom: 2px solid #FFD128;
  color: #ffffff;
  background: url("../images/hover/hover-bg-game-varieties.png") no-repeat;
  background-size: contain;
  background-position: bottom center;
}

html body .wrapper .main .main-info .game-varieties .select-game-mode {
  padding: 1vw 1.1vw 1vw 1.3vw;
}

html body .wrapper .main .main-info .game-varieties .select-game-mode .header-info {
  margin: 0 0 2.1rem;
}

html body .wrapper .main .main-info .game-varieties .select-game-mode .mode-options {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 15.8% 24.5% 55.1%;
      grid-template-columns: 15.8% 24.5% 55.1%;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  grid-gap: 2.3%;
}

html body .wrapper .main .main-info .game-varieties .select-game-mode .mode-options .active-link {
  border: 1px solid #FFD128;
  color: #ffffff;
  background: url("../images/hover/hover-bg-mode-options.png") no-repeat;
  background-size: contain;
  background-position: bottom center;
}

html body .wrapper .main .main-info .game-varieties .select-game-mode .mode-options a:hover {
  border: 1px solid #FFD128;
  color: #ffffff;
  background: url("../images/hover/hover-bg-mode-options.png") no-repeat;
  background-size: contain;
  background-position: bottom center;
}

html body .wrapper .main .main-info .game-varieties .select-game-mode .mode-options a .content {
  margin: 0 auto;
}

html body .wrapper .main .main-info .game-varieties .select-game-mode .mode-options a .content .mode-name {
  color: #F4AE26;
  text-align: center;
}

html body .wrapper .main .main-info .game-varieties .select-game-mode .mode-options a .content .partners {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 1.7rem;
}

html body .wrapper .main .main-info .game-varieties .select-game-mode .mode-options a .content .partners .partner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 5vw;
}

html body .wrapper .main .main-info .game-varieties .select-game-mode .mode-options a .content .partners .partner .avatar-with-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

html body .wrapper .main .main-info .game-varieties .select-game-mode .mode-options a .content .partners .partner .avatar-with-line .av-with-line-1 {
  background: url("../images/avatars/av-bg-yellow-grad_s.svg") no-repeat;
  background-size: contain;
  background-position: center center;
}

html body .wrapper .main .main-info .game-varieties .select-game-mode .mode-options a .content .partners .partner .avatar-with-line .av-with-line-2 {
  background: url("../images/avatars/av-bg-green-grad_s.svg") no-repeat;
  background-size: contain;
  background-position: center center;
}

html body .wrapper .main .main-info .game-varieties .select-game-mode .mode-options a .content .partners .partner .avatar-with-line .av-with-line-3 {
  background: url("../images/avatars/av-bg-purple-grad_s.svg") no-repeat;
  background-size: contain;
  background-position: center center;
}

html body .wrapper .main .main-info .game-varieties .select-game-mode .mode-options a .content .partners .partner .avatar-with-line .av-with-line-4 {
  background: url("../images/avatars/av-bg-blue-grad_s.svg") no-repeat;
  background-size: contain;
  background-position: center center;
}

html body .wrapper .main .main-info .game-varieties .select-game-mode .mode-options a .content .partners .partner .avatar-with-line .av-with-line-5 {
  background: url("../images/avatars/av-bg-red-grad_s.svg") no-repeat;
  background-size: contain;
  background-position: center center;
}

html body .wrapper .main .main-info .game-varieties .select-game-mode .mode-options a .content .partners .partner .avatar-with-line .av-border {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 3vw;
  height: 3vw;
  margin: 0 auto;
}

html body .wrapper .main .main-info .game-varieties .select-game-mode .mode-options a .content .partners .partner .avatar-with-line .av-border .avatar {
  width: 80%;
  height: 80%;
  background: #2A2B31;
  background-size: cover;
  -webkit-clip-path: polygon(0% 50%, 25% 7%, 75% 7%, 100% 50%, 75% 93%, 25% 93%);
          clip-path: polygon(0% 50%, 25% 7%, 75% 7%, 100% 50%, 75% 93%, 25% 93%);
}

html body .wrapper .main .main-info .game-varieties .select-game-mode .mode-options a .content .partners .partner .avatar-with-line .av-border .invite:after {
  display: block;
  content: " ";
  width: 100%;
  height: 100%;
  background: url("../images/avatars/plus.svg") no-repeat;
  background-size: 32%;
  background-position: center center;
}

html body .wrapper .main .main-info .game-varieties .select-game-mode .mode-options a .content .partners .partner .avatar-with-line .av-border .av-OceanD {
  background: url("../images/avatars/av_OceanD.png") no-repeat;
  background-size: 100%;
  background-position: 0% 50%;
}

html body .wrapper .main .main-info .game-varieties .select-game-mode .mode-options a .content .partners .partner .avatar-with-line .av-border .av-VanyaKiller {
  background: url("../images/avatars/av_VanyaKiller.png") no-repeat;
  background-size: 100%;
  background-position: 0% 50%;
}

html body .wrapper .main .main-info .game-varieties .select-game-mode .mode-options a .content .partners .partner .avatar-with-line .av-border .av-F1stM4n {
  background: url("../images/avatars/av_F1stM4n.png") no-repeat;
  background-size: 100%;
  background-position: 0% 50%;
}

html body .wrapper .main .main-info .game-varieties .select-game-mode .mode-options a .content .partners .partner .avatar-with-line .av-border .av-SaWyer {
  background: url("../images/avatars/av_SaWyer.png") no-repeat;
  background-size: 100%;
  background-position: 0% 50%;
}

html body .wrapper .main .main-info .game-varieties .select-game-mode .mode-options a .content .partners .partner .avatar-with-line .av-border .av-le4oz22 {
  background: url("../images/avatars/av_le4oz22.png") no-repeat;
  background-size: 100%;
  background-position: 0% 50%;
}

html body .wrapper .main .main-info .game-varieties .select-game-mode .mode-options a .content .partners .partner .avatar-with-line .av-border .av-Shadow52 {
  background: url("../images/avatars/av_Shadow52.png") no-repeat;
  background-size: 100%;
  background-position: 0% 50%;
}

html body .wrapper .main .main-info .game-varieties .select-game-mode .mode-options a .content .partners .partner .avatar-with-line .line-between-avatars {
  width: 1vw;
  height: 1px;
}

html body .wrapper .main .main-info .game-varieties .select-game-mode .mode-options a .content .partners .partner .avatar-with-line .left {
  background: -webkit-gradient(linear, right top, left top, from(rgba(77, 77, 81, 0)), to(#4d4d51));
  background: linear-gradient(to left, rgba(77, 77, 81, 0) 0%, #4d4d51 100%);
}

html body .wrapper .main .main-info .game-varieties .select-game-mode .mode-options a .content .partners .partner .avatar-with-line .right {
  background: -webkit-gradient(linear, right top, left top, from(#4d4d51), to(rgba(77, 77, 81, 0)));
  background: linear-gradient(to left, #4d4d51 0%, rgba(77, 77, 81, 0) 100%);
}

html body .wrapper .main .main-info .game-varieties .select-game-mode .mode-options a .content .partners .partner:first-child .left {
  background: rgba(0, 0, 0, 0);
}

html body .wrapper .main .main-info .game-varieties .select-game-mode .mode-options a .content .partners .partner:last-child .right {
  background: rgba(0, 0, 0, 0);
}

html body .wrapper .main .main-info .game-varieties .select-game-mode .mode-options a .content .partners .line-between-avatars.short {
  width: 2vw;
}

html body .wrapper .main .main-info .game-varieties .select-game-mode .mode-options a .content .partners .gamer-name {
  font-size: 0.66vw;
  margin: 0.8rem 0 2.4rem 0;
}

html body .wrapper .main .main-info .game-varieties .rate-place {
  padding: 1vw 1.1vw 1vw 1.3vw;
}

html body .wrapper .main .main-info .game-varieties .rate-place .header-info {
  margin: 0 0 2.1rem;
}

html body .wrapper .main .main-info .game-varieties .rate-place .rate-info {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 42.6% 55.1%;
      grid-template-columns: 42.6% 55.1%;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  grid-gap: 2.3%;
}

html body .wrapper .main .main-info .game-varieties .rate-place .rate-info .rate-values {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  grid-gap: 6%;
}

html body .wrapper .main .main-info .game-varieties .rate-place .rate-info .rate-values a .item-rate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 2vw;
  padding: 1.27vw 0;
  font-size: 0.66vw;
  color: #ffffff;
}

html body .wrapper .main .main-info .game-varieties .rate-place .rate-info .rate-values a:hover {
  border: 1px solid #FFD128;
}

html body .wrapper .main .main-info .game-varieties .rate-place .rate-info .rate-input {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 0.4% 47.77% 0.4% 37.45%;
      grid-template-columns: 0.4% 47.77% 0.4% 37.45%;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  grid-gap: 4.66%;
}

html body .wrapper .main .main-info .game-varieties .rate-place .rate-info .rate-input .line-vert {
  width: 2px;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(-38.68%, #FFD128), to(#FFAE25)), #1B1D21;
  background: linear-gradient(0deg, #FFD128 -38.68%, #FFAE25 100%), #1B1D21;
}

html body .wrapper .main .main-info .game-varieties .rate-place .rate-info .rate-input .you-rate input {
  font-size: 0.66vw;
  letter-spacing: 0.02em;
  color: rgba(121, 122, 124, 0.5);
  width: 100%;
  border: none;
  background: none;
  padding: 1.7rem 0 0 2rem;
}

html body .wrapper .main .main-info .game-varieties .rate-place .rate-info .rate-input button {
  color: #1C1E23;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(-38.68%, #FFD128), to(#FFAE25)), #1B1D21;
  background: linear-gradient(0deg, #FFD128 -38.68%, #FFAE25 100%), #1B1D21;
  -webkit-box-shadow: 1px 1px 20px rgba(255, 194, 38, 0.3);
          box-shadow: 1px 1px 20px rgba(255, 194, 38, 0.3);
  border-radius: 3px;
  border: none;
}

html body .wrapper .main .main-info .player-profile {
  grid-area: "gamer-profile";
  background: rgba(29, 32, 36, 0.6);
}

html body .wrapper .main .main-info .player-profile .player {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0.7vw 1.3vw 0.9vw 1vw;
  background: rgba(42, 43, 49, 0.25);
}

html body .wrapper .main .main-info .player-profile .player .av-border-slim {
  background: url("../images/avatars/av-bd-slim-yellow.svg") no-repeat;
  background-size: 100%;
  background-position: 0% 50%;
}

html body .wrapper .main .main-info .player-profile .player .av-border {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  width: 5.6vw;
  height: 5.6vw;
}

html body .wrapper .main .main-info .player-profile .player .av-border .av-br-prof {
  background: url("../images/avatars/av-bg-yellow.svg") no-repeat;
  background-size: 100%;
  background-position: 0% 50%;
}

html body .wrapper .main .main-info .player-profile .player .av-border .av-border-no-padding {
  width: 97.5%;
  height: 97.5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
}

html body .wrapper .main .main-info .player-profile .player .av-border .av-border-no-padding .avatar {
  width: 75.5%;
  height: 81.5%;
  background: #2A2B31;
  -webkit-clip-path: polygon(0% 50%, 25% 10%, 75% 10%, 100% 50%, 75% 90%, 25% 90%);
          clip-path: polygon(0% 50%, 25% 10%, 75% 10%, 100% 50%, 75% 90%, 25% 90%);
}

html body .wrapper .main .main-info .player-profile .player .av-border .av-border-no-padding .av-OceanD {
  background: url("../images/avatars/av_OceanD.png") no-repeat;
  background-size: 100%;
  background-position: 0% 50%;
}

html body .wrapper .main .main-info .player-profile .player .av-border .av-border-no-padding .av-VanyaKiller {
  background: url("../images/avatars/av_VanyaKiller.png") no-repeat;
  background-size: 100%;
  background-position: 0% 50%;
}

html body .wrapper .main .main-info .player-profile .player .av-border .av-border-no-padding .av-F1stM4n {
  background: url("../images/avatars/av_F1stM4n.png") no-repeat;
  background-size: 100%;
  background-position: 0% 50%;
}

html body .wrapper .main .main-info .player-profile .player .av-border .av-border-no-padding .av-SaWyer {
  background: url("../images/avatars/av_SaWyer.png") no-repeat;
  background-size: 100%;
  background-position: 0% 50%;
}

html body .wrapper .main .main-info .player-profile .player .av-border .av-border-no-padding .av-le4oz22 {
  background: url("../images/avatars/av_le4oz22.png") no-repeat;
  background-size: 100%;
  background-position: 0% 50%;
}

html body .wrapper .main .main-info .player-profile .player .av-border .av-border-no-padding .av-Shadow52 {
  background: url("../images/avatars/av_Shadow52.png") no-repeat;
  background-size: 100%;
  background-position: 0% 50%;
}

html body .wrapper .main .main-info .player-profile .player .about-player {
  margin-left: 1vw;
}

html body .wrapper .main .main-info .player-profile .player .about-player .name {
  font-size: 1.1vw;
  margin-top: 0.4rem;
  margin-bottom: 1rem;
}

html body .wrapper .main .main-info .player-profile .player .about-player .status {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

html body .wrapper .main .main-info .player-profile .player .about-player .status .circle {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  width: 0.4em;
  height: 0.4em;
  background-color: #33cf74;
  border: 0.2em solid #044d22;
  border-radius: 50%;
  margin: 0.2em 0.3em;
}

html body .wrapper .main .main-info .player-profile .player .about-player .rank {
  margin-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

html body .wrapper .main .main-info .player-profile .player .about-player .rank .rank-points {
  height: 1.62vw;
  width: 7.3vw;
  background-image: url(../images/avatars/rank-points.svg);
  background-size: cover;
  background-repeat: no-repeat;
  margin-left: 0.4vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

html body .wrapper .main .main-info .player-profile .player .about-player .rank .rank-points img {
  height: 100%;
  margin-left: 0.5vw;
}

html body .wrapper .main .main-info .player-profile .player .about-player .rank .rank-points span {
  font-size: 0.66vw;
  margin-left: 0.2vw;
}

html body .wrapper .main .main-info .player-profile .win-rate {
  padding: 1vw 1.1vw 1vw 1.3vw;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 27.8% 10.2% 27.8% 10.2%;
      grid-template-columns: 27.8% 10.2% 27.8% 10.2%;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  grid-gap: 8%;
}

html body .wrapper .main .main-info .player-profile .win-rate .header-info {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 5;
  margin-top: 0;
  margin-bottom: 0.2rem;
}

html body .wrapper .main .main-info .player-profile .win-rate .scale {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 4;
  height: 0.6rem;
  width: 103.29%;
  background: #1B1D21;
  border: 1px solid #2A2B31;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 3px;
}

html body .wrapper .main .main-info .player-profile .win-rate .scale .scale-data {
  width: 62%;
  height: 100%;
  background: -webkit-gradient(linear, right top, left top, from(#FFD128), to(#FFAE25)), #1B1D21;
  background: linear-gradient(270deg, #FFD128 0%, #FFAE25 100%), #1B1D21;
  border-radius: 3px;
}

html body .wrapper .main .main-info .player-profile .win-rate .scale-info {
  margin-top: -0.5rem;
}

html body .wrapper .main .main-info .player-profile .win-rate .tab-info {
  margin: 0.5rem 0 0;
}

html body .wrapper .main .main-info .player-profile .win-rate .first-line {
  margin: 1.5rem 0 0;
}

html body .wrapper .main .main-info .player-rating {
  background: rgba(29, 32, 36, 0.5);
}

html body .wrapper .main .main-info .player-rating .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

html body .wrapper .main .main-info .player-rating .header a {
  width: 50%;
  border-bottom: 2px solid rgba(77, 77, 81, 0.5);
}

html body .wrapper .main .main-info .player-rating .header a:hover {
  border-bottom: 2px solid #FFD128;
  color: #ffffff;
  background: url("../images/hover/hover-bg-game-varieties.png") no-repeat;
  background-size: contain;
  background-position: bottom center;
}

html body .wrapper .main .main-info .player-rating .header .active-link {
  border-bottom: 2px solid #FFD128;
  color: #ffffff;
  background: url("../images/hover/hover-bg-game-varieties.png") no-repeat;
  background-size: contain;
  background-position: bottom center;
}

html body .wrapper .main .main-info .player-rating .list-rating {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 6.02% 25.80% 8% 44.20% 15.98%;
      grid-template-columns: 6.02% 25.80% 8% 44.20% 15.98%;
  -ms-grid-rows: 1.5vw auto (2.5vw)[5] auto 2.4vw auto auto;
      grid-template-rows: 1.5vw auto repeat(5, 2.5vw) auto 2.4vw auto auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.66vw;
}

html body .wrapper .main .main-info .player-rating .list-rating .light-row {
  background: rgba(42, 43, 49, 0.39);
}

html body .wrapper .main .main-info .player-rating .list-rating .line-horiz, html body .wrapper .main .main-info .player-rating .list-rating .footer {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 6;
}

html body .wrapper .main .main-info .player-rating .list-rating .item-list {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

html body .wrapper .main .main-info .player-rating .list-rating .item-list:nth-child(2) {
  margin-left: 1.2vw;
}

html body .wrapper .main .main-info .player-rating .list-rating .item-list .gamer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

html body .wrapper .main .main-info .player-rating .list-rating .item-list .gamer .av-border {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
}

html body .wrapper .main .main-info .player-rating .list-rating .item-list .gamer .av-border .avatar {
  width: 80%;
  height: 80%;
  background: #2A2B31;
  background-size: cover;
  -webkit-clip-path: polygon(0% 50%, 25% 7%, 75% 7%, 100% 50%, 75% 93%, 25% 93%);
          clip-path: polygon(0% 50%, 25% 7%, 75% 7%, 100% 50%, 75% 93%, 25% 93%);
}

html body .wrapper .main .main-info .player-rating .list-rating .item-list .gamer .av-border .invite::after {
  display: block;
  content: " ";
  width: 100%;
  height: 100%;
  background: url("../images/avatars/plus.svg") no-repeat;
  background-size: 32%;
  background-position: center center;
}

html body .wrapper .main .main-info .player-rating .list-rating .item-list .gamer .av-border .av-OceanD {
  background: url("../images/avatars/av_OceanD.png") no-repeat;
  background-size: 100%;
  background-position: 0% 50%;
}

html body .wrapper .main .main-info .player-rating .list-rating .item-list .gamer .av-border .av-VanyaKiller {
  background: url("../images/avatars/av_VanyaKiller.png") no-repeat;
  background-size: 100%;
  background-position: 0% 50%;
}

html body .wrapper .main .main-info .player-rating .list-rating .item-list .gamer .av-border .av-F1stM4n {
  background: url("../images/avatars/av_F1stM4n.png") no-repeat;
  background-size: 100%;
  background-position: 0% 50%;
}

html body .wrapper .main .main-info .player-rating .list-rating .item-list .gamer .av-border .av-SaWyer {
  background: url("../images/avatars/av_SaWyer.png") no-repeat;
  background-size: 100%;
  background-position: 0% 50%;
}

html body .wrapper .main .main-info .player-rating .list-rating .item-list .gamer .av-border .av-le4oz22 {
  background: url("../images/avatars/av_le4oz22.png") no-repeat;
  background-size: 100%;
  background-position: 0% 50%;
}

html body .wrapper .main .main-info .player-rating .list-rating .item-list .gamer .av-border .av-Shadow52 {
  background: url("../images/avatars/av_Shadow52.png") no-repeat;
  background-size: 100%;
  background-position: 0% 50%;
}

html body .wrapper .main .main-info .player-rating .list-rating .item-list .gamer .av-list-rating {
  width: 1.7vw;
  height: 1.7vw;
  background: url("../images/avatars/av-bg-red-grad_s.svg") no-repeat;
  background-size: contain;
  background-position: center center;
}

html body .wrapper .main .main-info .player-rating .list-rating .item-list .gamer .gamer-name {
  padding-left: 0.3vw;
}

html body .wrapper .main .main-info .player-rating .list-rating .item-list .rank-points {
  margin-left: 0.2vw;
}

html body .wrapper .main .main-info .player-rating .list-rating .item-list .win-points {
  margin-left: 0.2vw;
}

html body .wrapper .main .main-info .player-rating .list-rating .item-list .footer {
  padding-top: 0.2vw;
}

html body .wrapper .main .main-info .daily-rate {
  grid-area: "daily-rate";
  background: rgba(29, 32, 36, 0.6);
}

html body .wrapper .main .main-info .daily-rate .gift-container {
  background-image: url(../images/daily-rate/bg_1.png);
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 auto;
}

html body .wrapper .main .main-info .daily-rate .gift-container .info1 {
  color: rgba(255, 255, 255, 0.78);
  letter-spacing: -0.03em;
  margin: 1.6rem 0 0;
}

html body .wrapper .main .main-info .daily-rate .gift-container .timer {
  font-size: 1.54vw;
  letter-spacing: 0.07em;
  margin: 0.7rem 0 0;
}

html body .wrapper .main .main-info .daily-rate .gift-container img {
  width: 61.33%;
  height: auto;
  margin: 0.6rem 0 0;
}

html body .wrapper .main .main-info .daily-rate .gift-container .gift-name {
  font-size: 0.99vw;
  letter-spacing: -0.03em;
  color: #EB5757;
  margin: 0.4rem 0 0;
}

html body .wrapper .main .main-info .daily-rate .gift-container .info2 {
  letter-spacing: -0.03em;
  margin: 1rem 0 0;
}

html body .wrapper .main .main-info .daily-rate .gift-container .info2 span {
  color: #F4AE26;
}

html body .wrapper .main .result-of-games {
  padding-top: 2.5rem;
  padding-right: 0.2rem;
}

html body .wrapper .main .result-of-games .content .game-rezult {
  width: 100%;
  min-height: 6.62vw;
  margin: 2rem 0;
  background: #24272B;
}

html body .wrapper .main .result-of-games .content .game-rezult .bg-link-1 {
  background: url(../images/result-of-games/Rectangle_bg-img_1.png) no-repeat;
  background-size: contain;
  background-position-x: right;
}

html body .wrapper .main .result-of-games .content .game-rezult .bg-link-2 {
  background: url(../images/result-of-games/Rectangle_bg-img_2.png) no-repeat;
  background-size: contain;
  background-position-x: right;
}

html body .wrapper .main .result-of-games .content .game-rezult a {
  border: 2px solid rgba(249, 190, 22, 0);
  position: relative;
}

html body .wrapper .main .result-of-games .content .game-rezult a:hover {
  border: 2px solid #f9be16;
}

html body .wrapper .main .result-of-games .content .game-rezult a:hover a::after {
  display: block;
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(249, 190, 22, 0.5)), to(rgba(249, 190, 22, 0)));
  background: linear-gradient(rgba(249, 190, 22, 0.5) 0%, rgba(249, 190, 22, 0) 100%);
  background: red;
}

html body .wrapper .main .result-of-games .content .game-rezult a .content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0.5vw 0.1vw 0.9vw;
  text-align: center;
}

html body .wrapper .main .result-of-games .content .game-rezult a .content .gamer-info {
  width: 41%;
  text-align: center;
}

html body .wrapper .main .result-of-games .content .game-rezult a .content .gamer-info .av-br-rez-game-l {
  background: url("../images/avatars/av-bd-rez-game-l.svg") no-repeat;
  background-size: contain;
  background-position: center center;
}

html body .wrapper .main .result-of-games .content .game-rezult a .content .gamer-info .av-br-rez-game-r {
  background: url("../images/avatars/av-bd-rez-game-r.svg") no-repeat;
  background-size: contain;
  background-position: center center;
}

html body .wrapper .main .result-of-games .content .game-rezult a .content .gamer-info .av-border {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 3vw;
  height: 3vw;
  margin: 0 auto;
}

html body .wrapper .main .result-of-games .content .game-rezult a .content .gamer-info .av-border .avatar-rez-game {
  width: 78%;
  height: 78%;
  background: url(../images/av3.png) no-repeat;
  background-size: cover;
  -webkit-clip-path: polygon(0% 50%, 25% 10%, 75% 10%, 100% 50%, 75% 90%, 25% 90%);
          clip-path: polygon(0% 50%, 25% 10%, 75% 10%, 100% 50%, 75% 90%, 25% 90%);
}

html body .wrapper .main .result-of-games .content .game-rezult a .content .gamer-info .av-border .av-OceanD {
  background: url("../images/avatars/av_OceanD.png") no-repeat;
  background-size: 100%;
  background-position: 0% 50%;
}

html body .wrapper .main .result-of-games .content .game-rezult a .content .gamer-info .av-border .av-VanyaKiller {
  background: url("../images/avatars/av_VanyaKiller.png") no-repeat;
  background-size: 100%;
  background-position: 0% 50%;
}

html body .wrapper .main .result-of-games .content .game-rezult a .content .gamer-info .av-border .av-F1stM4n {
  background: url("../images/avatars/av_F1stM4n.png") no-repeat;
  background-size: 100%;
  background-position: 0% 50%;
}

html body .wrapper .main .result-of-games .content .game-rezult a .content .gamer-info .av-border .av-SaWyer {
  background: url("../images/avatars/av_SaWyer.png") no-repeat;
  background-size: 100%;
  background-position: 0% 50%;
}

html body .wrapper .main .result-of-games .content .game-rezult a .content .gamer-info .av-border .av-le4oz22 {
  background: url("../images/avatars/av_le4oz22.png") no-repeat;
  background-size: 100%;
  background-position: 0% 50%;
}

html body .wrapper .main .result-of-games .content .game-rezult a .content .gamer-info .av-border .av-Shadow52 {
  background: url("../images/avatars/av_Shadow52.png") no-repeat;
  background-size: 100%;
  background-position: 0% 50%;
}

html body .wrapper .main .result-of-games .content .game-rezult a .content .gamer-info .br-av-col-1 {
  background-size: contain;
  background-position: center center;
  background: url("../images/avatars/av-bg-yellow.svg") no-repeat;
}

html body .wrapper .main .result-of-games .content .game-rezult a .content .gamer-info p {
  margin: 0.5rem 0 0.3rem;
  color: #ffffff;
}

html body .wrapper .main .result-of-games .content .game-rezult a .content .gamer-info .points {
  font-size: 0.66vw;
  color: #F4AE26;
  margin: 0.1rem 0;
}

html body .wrapper .main .result-of-games .content .game-rezult a .content .result-of-game {
  width: 18%;
}

html body .wrapper .main .result-of-games .content .game-rezult a .content .result-of-game p {
  margin: 2rem 0 0;
  color: rgba(255, 255, 255, 0.41);
}

html body .wrapper .main .result-of-games .content .game-rezult a .content .result-of-game .score {
  margin: 0.5rem 0 0;
  font-size: 1.21vw;
  color: #ffffff;
}
/*# sourceMappingURL=main.css.map */