@font-face{
    font-family: 'Google Sans';
    src: url('../fonts/Google-Sans-Font/GoogleSans-Regular.ttf ');
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: 'Google Sans';
    src: url('../fonts/Google-Sans-Font/GoogleSans-Bold.ttf ');
    font-weight: bold;
    font-style: normal;
}


$left-col-xl: 7.03vw;

$color_dark: #1D2024;
$color_rect-bg: #24272B;
$color_darc-bg:#1B1D21;

                            // $color_darc-bg: red;

$color-border-2: #2A2B31;

$color-border-1: rgba(77, 77, 81, 0.5);

                            // $color-border-1: green;


$text-color-main: #ffffff;
$text-color-altern: #797A7C;

                            // $text-color-altern: rgb(0, 225, 255);

$text-color-2: rgba(255, 255, 255, 0.41);           
$text-color-warning: #f9be16;

$font-size-base: 0.55vw;
$f-s-sm: $font-size-base * 1.2;
$f-s-norm: $font-size-base * 1.4;
$f-s-l: $font-size-base * 1.8;
$f-s-xl: $font-size-base * 2;
$f-s-xxl: $font-size-base * 2.2;
$f-s-xxxl: $font-size-base * 2.8;

html {
    font-size: 0.55vw;
    font-family: 'Google Sans', sans-serif;
    color: #{$text-color-main};

    body {
        margin: 0;
        padding: 0;
        font-size: #{$f-s-norm};
        // background: #{$color_dark};

        * {
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
        }
        ul, li, input {
            margin: 0;
            padding: 0;
        }
        li {
            list-style-type: none;
        }

        a {
            text-decoration: none;
            color: #{$text-color-altern};

            &:hover {
                // border: 3px solid #FFD128;
                background: #FFD128;
            }
        }
        input {
            width: 100%;
            border: none;
            background: none;
        }

        .link-block {
            display: block;
            height: 100%;
            width: 100%;

            &:hover {
                // border: 3px solid #FFD128;
                background: #FFD128;
            }
        }
        .dark-bg {
            background: #{$color_darc-bg};
            border: 1px solid #{$color-border-1};
            border-radius: 3px;
        }
        .header-info {
            padding: 0;
            margin: 1.9rem 0 1.6rem;
            text-align: center;
        }
        
        .align-c {
            text-align: center;
            justify-content: center;
        }
        .align-l {
            text-align: left;
        }
        .align-r {
            text-align: right;
        }
        .text-bold {
            font-weight: bold;
        }
        .avatar-big {
            width: 3vw;
            height: 2.5vw;
        }

        

        .wrapper {
            width: 100vw;
            min-height: 100vh;
            
            background: url(../images/wrapper-bg-img_2.png) no-repeat;
            background-size: cover;
            position: relative;
            //transform: matrix(-1, 0, 0, 1, 0, 0);
            
            // &::after {
            //     display: block;
            //     content: " ";
            //     width: 100%;
            //     height: 100%;
            //     position: absolute;
            //     top: 0;
            //     left: 0;
            //     // background: rgba(24, 25, 29, 0.64);
            // }
        
            .container-xl {
                display: grid;
                grid-template-columns: 7.03vw 75.83vw 16.54vw;
            }
        
            .header {
                display: grid;
                grid-template-columns: 7.03vw 75.83vw 17.14vw;
                grid-template-rows: 5.02vw;

                .drop-down-list-btn  {
                    width: 1.4vw;
                    height: 1.3vw;
                    background-image: url(../images/header/list-games-btn.png);
                    background-size: cover;
                    background-repeat: no-repeat;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    // &:after {
                    //     display: flex;
                    //     text-align: center;
                    //     align-items: center;
                    //     content: "\003C";
                    //     transform: rotate(-90deg);
                    // }
                }
        
                .logo {
                    background: linear-gradient(90deg, #{$color_dark} 0%, #18191D 100%);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
                .info {
                    background: linear-gradient(90deg, #{$color_dark} 0%, #18191D 100%);
                                            // background: #ffffaa;

                    display: grid;
                    grid-template-columns: 53% 33.7% 13.3%;
                    grid-gap: 0%;
                    align-items: center;
                    // padding-left: 1.6vw;
                    
                    .game {
                        display: flex;
                        align-items: center;

                        .game-logo {
                            margin: 0.7vw 0 0 1.6vw;            
                        }
    
                        
                    }

                    .search {
                        background: #{$color_dark};
                        display: flex;
                        align-items: center;
                        color: #717278;
                        width: 22.1vw;
                        height: 2.5vw;

                        input {
                            letter-spacing: 0.02em;
                            padding: 0 0 0 2rem;
                        }

                        button {
                            border: none;
                            background: #{$color_dark};
                            color: #717278;
                            padding: 0 2rem 0 0;
                        }
                    }

                    .gamers-counter {
                        border-left: 3px solid #2A2B31;
                        height: 2.5vw;
                        
                        // padding: 0 1.5vw;

                        p {
                            padding: 0;
                            margin: 0;
                            text-align: center;
                        }
                        .count {
                            font-size: #{$f-s-l};
                            color: #{$text-color-warning};
                            // margin: 0.1rem 0;
                        }
                    }

                }
                
                .short-profile {
                    background: #{$color_dark};
                    display: flex;
                    align-items: center;
                    
                    .avatar {
                        width: 31.4%;
                        text-align: center;
                        margin-left: 0.05vw;
                    
                        .av-br-short-prof {
                            background: url("../images/avatars/av-bg-yellow.svg") no-repeat;
                            background-size: contain;
                            background-position: center center;
                        }

                        .av-border {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            width: 3.7vw;
                            height: 3.7vw;
                            margin: 0 auto;

                            .avatar-short-prof {
                                width: 65%;
                                height: 56%;
                                background: url("../images/av3.png") no-repeat;
                                background-size: cover;
                                clip-path: polygon(0% 50%, 25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%);
                            }
                        
                            .av-OceanD {
                                background: url("../images/avatars/av_OceanD.png") no-repeat;
                                background-size: 100%;
                                background-position: 0% 50%;
                            }
                            .av-VanyaKiller {
                                background: url("../images/avatars/av_VanyaKiller.png") no-repeat;
                                background-size: 100%;
                                background-position: 0% 50%;
                            }
                            .av-F1stM4n {
                                background: url("../images/avatars/av_F1stM4n.png") no-repeat;
                                background-size: 100%;
                                background-position: 0% 50%;
                            }
                            .av-SaWyer {
                                background: url("../images/avatars/av_SaWyer.png") no-repeat;
                                background-size: 100%;
                                background-position: 0% 50%;
                            }
                            .av-le4oz22 {
                                background: url("../images/avatars/av_le4oz22.png") no-repeat;
                                background-size: 100%;
                                background-position: 0% 50%;
                            }
                            .av-Shadow52 {
                                background: url("../images/avatars/av_Shadow52.png") no-repeat;
                                background-size: 100%;
                                background-position: 0% 50%;
                            }
                        }
                    }

                    .player-info {
                        width: 68.6%;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;

                        .about-player {
                            width: 75.55%;
                            p {
                                margin: 0;
                            }

                            .win-points-container {
                                display: flex;
                                align-items: center;
                                margin-top: 0.3vw;
                                
                                .win-points {
                                    font-size: #{$f-s-l};
                                    color: #{$text-color-warning};
                                    margin-left: 0.6rem;
                                }
                            }
                        }

                        .list-of-profile {
                            // width: 24.45%;
                            margin: 0 auto;
                            
                            .polygon-bullet {
                                width: 47.17%;
                            }
                        }
                    }
                }
            } //header

            .main {
                display: grid;
                grid-template-rows: auto;

                .nav {
                    background: #{$color_dark};
                    display: flex;
                    flex-wrap: wrap;

                    ul {
                        width: 100%;
                        padding-top: 0.9rem;

                        li {
                            width: 100%;
                            height: 102px;
                            border-bottom: 2px solid #1B1D21;
                            border-bottom: 2px solid #ffffff;
                            //background: linear-gradient(90deg, #F4AC26 5.13%, #FDCB0C 100%);
                            //box-shadow: 0px 0px 20px #F8BA19;
                                                    
                            a {

                                div {
                                    display: flex;
                                    flex-direction: column;
                                    //justify-content: center;
                                    align-items: center;
                                    
                                    padding-top: 2.3rem;

                                    svg {
                                        
                                    }
                                    p {
                                        //text-align: center;
                                        margin-top: 1.1rem;
                                    }
                                }
                            }
                        }
                    }
                }


                .main-info {
                    padding: 2.1vw 2.1vw 2.1vw 2.1vw;
                    display: grid;
                    grid-template-columns: 49.27vw 18.85vw;
                    grid-template-rows: 21.88vw 20.68vw;;
                    grid-gap: 2.2vw;

                    .main-info-box {
                        mix-blend-mode: normal;
                        backdrop-filter: blur(20px);
                        /* Note: backdrop-filter has minimal browser support */
                        border-radius: 3px;
                        border: 1px solid #{$color-border-1};
                    }

                    
                    .line-horiz {
                        width: 100%;
                        height: 1px;
                        background: linear-gradient(to left, rgba(79, 79, 83, 0) 0%, rgba(79, 79, 83, 1) 50%, rgba(79, 79, 83, 0) 100%);
                    }
                    
                    .game-varieties {
                        //grid-area: _game-varieties;
                        background: linear-gradient(180deg, rgba(29, 32, 36, 0.6) 45.23%, rgba(29, 32, 36, 0) 100%);

                        .header {
                            display: flex;

                            a {
                                width: 50%;
                                border-bottom: 2px solid #{$color-border-1};

                                &:hover {
                                    // border: 3px solid #FFD128;
                                    background: #FFD128;
                                }
                            }
                        }


                        .select-game-mode {
                            padding: 1vw 1.1vw 1vw 1.3vw;

                            .header-info {
                                margin: 0 0 2.1rem;
                            }

                            .mode-options {
                                display: grid;
                                grid-template-columns: 15.8% 24.5% 55.1%;
                                grid-template-rows: auto;
                                grid-gap: 2.3%;

                                a {
                                   
                                    .content {
                                        margin: 0 auto;
                                        
                                        .mode-name {
                                            color: #{$text-color-warning};    
                                            text-align: center;
                                        }
                                        
                                        .partners {
                                            display: flex;
                                            flex-wrap: nowrap;
                                            justify-content: center;
                                            padding-top: 1.7rem;

                                            .partner {
                                                display: flex;
                                                flex-wrap: wrap;
                                                justify-content: center;
                                                width: 5vw;

                                                .avatar-with-line {
                                                    display: flex;
                                                    flex-wrap: nowrap;
                                                    align-items: center;

                                                    .av-with-line-1 {
                                                        background: url("../images/avatars/av-bg-yellow-grad_s.svg") no-repeat;
                                                        background-size: contain;
                                                        background-position: center center;
                                                    }
                                                    .av-with-line-2 {
                                                        background: url("../images/avatars/av-bg-green-grad_s.svg") no-repeat;
                                                        background-size: contain;
                                                        background-position: center center;
                                                    }
                                                    .av-with-line-3 {
                                                        background: url("../images/avatars/av-bg-purple-grad_s.svg") no-repeat;
                                                        background-size: contain;
                                                        background-position: center center;
                                                    }
                                                    .av-with-line-4 {
                                                        background: url("../images/avatars/av-bg-blue-grad_s.svg") no-repeat;
                                                        background-size: contain;
                                                        background-position: center center;
                                                    }
                                                    .av-with-line-5 {
                                                        background: url("../images/avatars/av-bg-red-grad_s.svg") no-repeat;
                                                        background-size: contain;
                                                        background-position: center center;
                                                    }
                                                    
                                                    .av-border {
                                                        display: flex;
                                                        justify-content: center;
                                                        align-items: center;
                                                        // position: relative;
                                                        width: 3vw;
                                                        height: 3vw;
                                                        margin: 0 auto;
                                                        
                                                        .avatar {
                                                            width: 80%;
                                                            height: 80%;
                                                            background: #2A2B31;
                                                            background-size: cover;
                                                            clip-path: polygon(0% 50%, 25% 7%, 75% 7%, 100% 50%, 75% 93%, 25% 93%);   
                                                        }
                                                        .invite {
                                                            &::after {
                                                                display: block;
                                                                content: " ";
                                                                width: 100%;
                                                                height: 100%;
                                                                background: url("../images/avatars/plus.svg") no-repeat;
                                                                background-size: 32%;
                                                                background-position:  center center;

                                                            }
                                                        }
                                                       
                                                        .av-OceanD {
                                                            background: url("../images/avatars/av_OceanD.png") no-repeat;
                                                            background-size: 100%;
                                                            background-position: 0% 50%;
                                                        }
                                                        .av-VanyaKiller {
                                                            background: url("../images/avatars/av_VanyaKiller.png") no-repeat;
                                                            background-size: 100%;
                                                            background-position: 0% 50%;
                                                        }
                                                        .av-F1stM4n {
                                                            background: url("../images/avatars/av_F1stM4n.png") no-repeat;
                                                            background-size: 100%;
                                                            background-position: 0% 50%;
                                                        }
                                                        .av-SaWyer {
                                                            background: url("../images/avatars/av_SaWyer.png") no-repeat;
                                                            background-size: 100%;
                                                            background-position: 0% 50%;
                                                        }
                                                        .av-le4oz22 {
                                                            background: url("../images/avatars/av_le4oz22.png") no-repeat;
                                                            background-size: 100%;
                                                            background-position: 0% 50%;
                                                        }
                                                        .av-Shadow52 {
                                                            background: url("../images/avatars/av_Shadow52.png") no-repeat;
                                                            background-size: 100%;
                                                            background-position: 0% 50%;
                                                        }
                                                    }
                                                    

                                                    .line-between-avatars {
                                                        width: 1vw;
                                                        height: 1px;
                                                    }

                                                    .left {
                                                        background: linear-gradient(to left, rgba(77, 77, 81, 0) 0%, rgba(77, 77, 81, 1) 100%);
                                                    }

                                                    .right {
                                                        background: linear-gradient(to left, rgba(77, 77, 81, 1) 0%, rgba(77, 77, 81, 0) 100%);
                                                    }
                                                }

                                                &:first-child {
                                                    .left {
                                                        background: rgba(0, 0, 0, 0);
                                                    }
                                                }

                                                &:last-child {
                                                    .right {
                                                        background: rgba(0, 0, 0, 0);
                                                    }
                                                }
                                            }
                                            
                                            .line-between-avatars.short {
                                                width: 2vw;
                                            }

                                            .gamer-name {
                                                font-size: #{$f-s-sm};
                                                margin: 0.8rem 0 2.4rem 0;
                                            }
                                        }
                                    }
                                }
                            }   
                        }

                        .rate-place {
                            padding: 1vw 1.1vw 1vw 1.3vw;

                            .header-info {
                                margin: 0 0 2.1rem;
                            }

                            .rate-info {
                                display: grid;
                                grid-template-columns: 42.6% 55.1%;
                                grid-template-rows: auto;
                                grid-gap: 2.3%;

                                .rate-values {
                                    display: grid;
                                    grid-template-columns: repeat(4, 1fr);
                                    grid-template-rows: auto;
                                    grid-gap: 6%;

                                    a {
                                        .item-rate {
                                            display: flex;
                                            justify-content: center;
                                            align-items: center;
                                            height: 2vw;
                                            padding: 1.27vw 0;
                                            font-size: #{$f-s-sm};
                                            color: #{$text-color-main};
                                        }
                                    }
                                }

                                .rate-input {
                                    display: grid;
                                    grid-template-columns: 0.4% 47.77% 0.4% 37.45%;
                                    grid-template-rows: auto;
                                    grid-gap: 4.66%;

                                    .line-vert {
                                        width: 2px;
                                        background:  linear-gradient(0deg, #FFD128 -38.68%, #FFAE25 100%), #1B1D21;
                                    }

                                    .you-rate {
                                        input {
                                            font-size: #{$f-s-sm};
                                            letter-spacing: 0.02em;
                                            color: rgba(121, 122, 124, 0.5);
                                            width: 100%;
                                            border: none;
                                            background: none;
                                            padding: 1.7rem 0 0 2rem;
                                        }
                                    }

                                    button {
                                        color: #1C1E23;
                                        background: linear-gradient(0deg, #FFD128 -38.68%, #FFAE25 100%), #1B1D21;
                                        box-shadow: 1px 1px 20px rgba(255, 194, 38, 0.3);
                                        border-radius: 3px;
                                        border: none;
                                    }
                                }
                            }
                        }
                    }

                    .player-profile {
                        grid-area: "gamer-profile";
                        background: rgba(29, 32, 36, 0.6);

                        .player {
                            display: flex;
                            padding: 1.25vw 1.3vw 0.9vw;
                            background: rgba(42, 43, 49, 0.25);
                            
                            .avatar-big {
                                margin: 0;
                                width: 5.68vw;
                                height: 5vw;

                                .QWERTY {
                                    
                                }
                            }

                            .about-player {
                                margin-left: 1vw;

                                .name {
                                    font-size: #{$f-s-xl};
                                    margin-top: 0.4rem;
                                    margin-bottom: 1rem;
                                }

                                .status {
                                    display: flex;

                                    .circle {
                                        box-sizing: content-box;
                                        width: 0.4em;
                                        height: 0.4em;
                                        background-color: rgba(51, 207, 116, 1);
                                        border: 0.2em solid rgb(4, 77, 34);
                                        border-radius: 50%;
                                        margin: 0.2em 0.3em;
                                    }
                                }

                                .rank {
                                    margin-top: 1rem;
                                    display: flex;
                                    align-items: center;

                                    .rank-points {
                                        height: 1.62vw;
                                        width: 7.3vw;
                                        background-image: url(../images/avatars/rank-points.svg);
                                        background-size: cover;
                                        background-repeat: no-repeat;
                                        margin-left: 0.4vw;
                                        display: flex;
                                        align-items: center;

                                        img {
                                            height: 100%;
                                            margin-left: 0.5vw;
                                        }
                                        span {
                                            font-size: #{$f-s-sm};
                                            margin-left: 0.2vw;
                                        }
                                    }
                                }
                            }
                        } //.player

                        .win-rate {
                            padding: 1vw 1.1vw 1vw 1.3vw;
                            display: grid;
                            grid-template-columns: 27.8% 10.2% 27.8% 10.2%;
                            grid-template-rows: auto;
                            grid-gap: 8%;
                           
                            .header-info {
                                grid-column-start: 1;
                                grid-column-end: 5;
                                margin-top: 0;
                                margin-bottom: 0.2rem;
                            }

                            .scale {
                                grid-column-start: 1;
                                grid-column-end: 4;
                                height: 0.6rem;
                                width: 103.29%;

                                background: red;
                                border: 1px solid red;
                            }
                            .scale-info {
                                margin-top: -0.5rem;
                            }
                            .tab-info {
                                margin: 0.5rem 0 0;
                            }
                            .first-line {
                                margin: 1.5rem 0 0;
                            }
                        }//win-rate
                    }//player-profile

                    .player-rating {
                        grid-area: "player-rating";

                        background: rgba(29, 32, 36, 0.5);

                        .header {
                            display: flex;

                            a {
                                width: 50%;
                                border-bottom: 2px solid #{$color-border-1};
                            }
                        }

                        .list-rating {
                            display: grid;
                            grid-template-columns: 6.02% 25.80% 8% 44.20% 15.98%;
                            grid-template-rows: 1.5vw auto repeat(5, 2.5vw) auto 2.4vw auto auto;
                            align-items: center;
                            font-size: #{$f-s-sm};
                            
                            .light-row {
                                background:  rgba(42, 43, 49, 0.39);
                            }
                            .line-horiz, .footer {
                                grid-column-start: 1;
                                grid-column-end: 6;
                            }

                            .item-list {
                                height: 100%;
                                display: flex;
                                align-items: center;
                                
                                &:nth-child(2) {
                                    margin-left: 1.2vw;
                                }

                                .gamer {
                                    display: flex;
                                    align-items: center;
                                    justify-content: start;
                                                   
                                    .av-border {
                                        display: flex;
                                        justify-content: center;
                                        align-items: center;
                                        // position: relative;
                                        // width: 2vw;
                                        // height: 2vw;
                                        margin: 0 auto;
                                        
                                        .avatar {
                                            width: 80%;
                                            height: 80%;
                                            background: #2A2B31;
                                            background-size: cover;
                                            clip-path: polygon(0% 50%, 25% 7%, 75% 7%, 100% 50%, 75% 93%, 25% 93%);   
                                        }
                                        .invite {
                                            &::after {
                                                display: block;
                                                content: " ";
                                                width: 100%;
                                                height: 100%;
                                                background: url("../images/avatars/plus.svg") no-repeat;
                                                background-size: 32%;
                                                background-position:  center center;

                                            }
                                        }
                                        
                                        .av-OceanD {
                                            background: url("../images/avatars/av_OceanD.png") no-repeat;
                                            background-size: 100%;
                                            background-position: 0% 50%;
                                        }
                                        .av-VanyaKiller {
                                            background: url("../images/avatars/av_VanyaKiller.png") no-repeat;
                                            background-size: 100%;
                                            background-position: 0% 50%;
                                        }
                                        .av-F1stM4n {
                                            background: url("../images/avatars/av_F1stM4n.png") no-repeat;
                                            background-size: 100%;
                                            background-position: 0% 50%;
                                        }
                                        .av-SaWyer {
                                            background: url("../images/avatars/av_SaWyer.png") no-repeat;
                                            background-size: 100%;
                                            background-position: 0% 50%;
                                        }
                                        .av-le4oz22 {
                                            background: url("../images/avatars/av_le4oz22.png") no-repeat;
                                            background-size: 100%;
                                            background-position: 0% 50%;
                                        }
                                        .av-Shadow52 {
                                            background: url("../images/avatars/av_Shadow52.png") no-repeat;
                                            background-size: 100%;
                                            background-position: 0% 50%;
                                        }
                                    }
                                    .av-list-rating {
                                        width: 1.7vw;
                                        height: 1.7vw;
                                        background: url("../images/avatars/av-bg-red-grad_s.svg") no-repeat;
                                        background-size: contain;
                                        background-position: center center;
                                    }

                                    .gamer-name {
                                        padding-left: 0.3vw;
                                    }
                                }

                                .rank-points {
                                    margin-left: 0.2vw;
                                }
                                .win-points {
                                    margin-left: 0.2vw;
                                }

                                .footer {
                                    padding-top: 0.2vw;
                                }
                            }
                        }
                    }//player-rating

                    .daily-rate {
                        grid-area: "daily-rate";

                        background: rgba(29, 32, 36, 0.6);

                        .gift-container {
                            background-image: url(../images/daily-rate/bg_1.png);
                            background-size: cover;
                            background-repeat: no-repeat;
                            margin: 0 auto;

                            .info1 {
                                color: rgba(255, 255, 255, 0.78);
                                letter-spacing: -0.03em;
                                margin: 1.6rem 0 0;
                            }
                            .timer {
                                font-size: #{$f-s-xxxl};
                                letter-spacing: 0.07em;
                                margin: 0.7rem 0 0;
                            }

                            img {
                                width: 61.33%;
                                height: auto;
                                margin: 0.6rem 0 0;
                            }
                            .gift-name {
                                font-size: #{$f-s-l};
                                letter-spacing: -0.03em;
                                color: #EB5757;
                                margin: 0.4rem 0 0;
                            }
                            .info2 {
                                letter-spacing: -0.03em;
                                margin: 1rem 0 0;
                                span {
                                    color: #{$text-color-warning};
                                }
                            }
                        }
                    }//daily-rate
                }



                .result-of-games {
                    padding-top: 2.5rem;
                    padding-right: 0.2rem;

                    .content {
                        // display: grid;
                        // grid-template-columns: 100%;
                        // grid-template-rows:  6.62vw;
                        // grid-row-gap: 2vw;

                        .game-rezult {
                            width: 100%;
                            min-height: 6.62vw;
                            margin: 2rem 0;
                            // box-sizing: padding-box;
                            // border: 1px solid $color-border-1;
                            background: #{$color_rect-bg};

                            // .game-rezult-bg {
                                
                            // }

                            
                            .bg-link-1 {
                                background: url(../images/result-of-games/Rectangle_bg-img_1.png) no-repeat;
                                background-size: contain;
                                background-position-x: right;
                            }
                            .bg-link-2 {
                                background: url(../images/result-of-games/Rectangle_bg-img_2.png) no-repeat;
                                background-size: contain;
                                background-position-x: right;
                            }
                            a {
                                border: 2px solid rgba(249, 190, 22, 0);
                                position: relative;
                                
                                &:hover {
                                    border: 2px solid rgba(249, 190, 22, 1);

                                    a::after {
                                        display: block;
                                        content: " ";
                                        position: absolute;
                                        top: 0;
                                        left: 0;
                                        background: linear-gradient(rgba(249, 190, 22, 0.5) 0%, rgba(249, 190, 22, 0) 100%);
                                        background: red;
                                    }
                                }

                                .content {
                                    width: 100%;
                                    display: flex;
                                    justify-content: space-between;
                                    padding: 0.5vw 0.1vw 0.9vw;
                                    text-align: center;
                                    
                                    .gamer-info {
                                        width: 41%;
                                        text-align: center;

                                        .av-br-rez-game-l {
                                            background: url("../images/avatars/av-bd-rez-game-l.svg") no-repeat;
                                            background-size: contain;
                                            background-position: center center;
                                        }
                                        .av-br-rez-game-r {
                                            background: url("../images/avatars/av-bd-rez-game-r.svg") no-repeat;
                                            background-size: contain;
                                            background-position: center center;
                                        }
                                        .av-border {
                                            display: flex;
                                            justify-content: center;
                                            align-items: center;
                                            // position: relative;
                                            width: 3vw;
                                            height: 3vw;
                                            margin: 0 auto;
                                            
                                            .avatar-rez-game {
                                                width: 78%;
                                                height: 78%;
                                                background: url(../images/av3.png) no-repeat;
                                                background-size: cover;
                                                clip-path: polygon(0% 50%, 25% 10%, 75% 10%, 100% 50%, 75% 90%, 25% 90%);
                                            }
                                           
                                            .av-OceanD {
                                                background: url("../images/avatars/av_OceanD.png") no-repeat;
                                                background-size: 100%;
                                                background-position: 0% 50%;
                                            }
                                            .av-VanyaKiller {
                                                background: url("../images/avatars/av_VanyaKiller.png") no-repeat;
                                                background-size: 100%;
                                                background-position: 0% 50%;
                                            }
                                            .av-F1stM4n {
                                                background: url("../images/avatars/av_F1stM4n.png") no-repeat;
                                                background-size: 100%;
                                                background-position: 0% 50%;
                                            }
                                            .av-SaWyer {
                                                background: url("../images/avatars/av_SaWyer.png") no-repeat;
                                                background-size: 100%;
                                                background-position: 0% 50%;
                                            }
                                            .av-le4oz22 {
                                                background: url("../images/avatars/av_le4oz22.png") no-repeat;
                                                background-size: 100%;
                                                background-position: 0% 50%;
                                            }
                                            .av-Shadow52 {
                                                background: url("../images/avatars/av_Shadow52.png") no-repeat;
                                                background-size: 100%;
                                                background-position: 0% 50%;
                                            }
                                            
                                        }
                                        
                                        .br-av-col-1 {
                                                background-size: contain;
                                                background-position: center center;
                                                background: url("../images/avatars/av-bg-yellow.svg") no-repeat;
                                        }
                                        
                                        p {
                                            margin: 0.5rem 0 0.3rem;
                                            color: #{$text-color-main};
                                        }
                                        .points {
                                            font-size: #{$f-s-sm};
                                            color: #{$text-color-warning};
                                            margin: 0.1rem 0;
                                        }
                                    }

                                    .result-of-game {
                                        width: 18%;
                                        p {
                                            margin: 2rem 0 0;
                                            color: #{$text-color-2};
                                        }
                                        .score {
                                            margin: 0.5rem 0 0;
                                            font-size: #{$f-s-xxl}; 
                                            color: #{$text-color-main};
                                        }
                                    }
                                }  
                            }
                        }
                    }
                }//result-of-games
            } //main
        }//wrapper
    }

}
