@font-face {
  font-family: 'Google Sans';
  src: url("../fonts/Google-Sans-Font/GoogleSans-Regular.ttf ");
  font-weight: normal;
  font-style: normal;
}

html {
  font-size: 10px;
  font-family: 'Google Sans', sans-serif;
  color: #ffffff;
}

html body {
  margin: 0;
  padding: 0;
  font-size: 0.77vw;
}

html body * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html body ul, html body li, html body input {
  margin: 0;
  padding: 0;
}

html body li {
  list-style-type: none;
}

html body a {
  text-decoration: none;
  color: #797A7C;
}

html body .link-block {
  display: block;
  height: 100%;
  width: 100%;
}

html body .wrapper {
  width: 99.4vw;
  min-height: 100vh;
  background: url(../images/wrapper-bg-img_2.png) no-repeat;
  position: relative;
}

html body .wrapper::after {
  display: block;
  content: " ";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

html body .wrapper .container-xl {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 7.03vw 75.83vw 16.54vw;
      grid-template-columns: 7.03vw 75.83vw 16.54vw;
}

html body .wrapper .header {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 5.02vw;
      grid-template-rows: 5.02vw;
}

html body .wrapper .header .logo {
  background: -webkit-gradient(linear, left top, right top, from(#1D2024), to(#18191D));
  background: linear-gradient(90deg, #1D2024 0%, #18191D 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

html body .wrapper .header .info {
  background: -webkit-gradient(linear, left top, right top, from(#1D2024), to(#18191D));
  background: linear-gradient(90deg, #1D2024 0%, #18191D 100%);
  background: #ffffaa;
}

html body .wrapper .header .profile {
  background: #1D2024;
  background: yellow;
}

html body .wrapper .main {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
}

html body .wrapper .main .nav {
  background: #1D2024;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

html body .wrapper .main .nav ul {
  width: 100%;
  padding-top: 0.9rem;
}

html body .wrapper .main .nav ul li {
  width: 100%;
  height: 102px;
  border-bottom: 2px solid #1B1D21;
  border-bottom: 2px solid #ffffff;
}

html body .wrapper .main .nav ul li a div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 2.3rem;
}

html body .wrapper .main .nav ul li a div p {
  margin-top: 1.1rem;
}

html body .wrapper .main .main-info {
  padding: 2.1vw 2.1vw 2.1vw 2.1vw;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 49.27vw 18.85vw;
      grid-template-columns: 49.27vw 18.85vw;
  -ms-grid-rows: 21.88vw 20.68vw;
      grid-template-rows: 21.88vw 20.68vw;
  grid-gap: 2.2vw;
}

html body .wrapper .main .main-info .main-info-box {
  mix-blend-mode: normal;
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 3px;
  border: 1px solid #2A2B31;
}

html body .wrapper .main .main-info .dark-bg {
  background: #1B1D21;
  border: 1px solid #2A2B31;
  border-radius: 3px;
}

html body .wrapper .main .main-info .header-info {
  padding: 0;
  margin: 1.9rem 0 1.6rem;
  text-align: center;
}

html body .wrapper .main .main-info .align-l {
  text-align: left;
}

html body .wrapper .main .main-info .align-r {
  text-align: right;
}

html body .wrapper .main .main-info .game-varieties {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(45.23%, rgba(29, 32, 36, 0.6)), to(rgba(29, 32, 36, 0)));
  background: linear-gradient(180deg, rgba(29, 32, 36, 0.6) 45.23%, rgba(29, 32, 36, 0) 100%);
}

html body .wrapper .main .main-info .game-varieties .QWERTY {
  width: 3vw;
  height: 2.5vw;
  margin: 0 auto;
  background: yellowgreen;
}

html body .wrapper .main .main-info .game-varieties .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

html body .wrapper .main .main-info .game-varieties .header a {
  width: 50%;
  border-bottom: 2px solid #2A2B31;
}

html body .wrapper .main .main-info .game-varieties .select-game-mode {
  padding: 1vw 1.1vw 1vw 1.3vw;
}

html body .wrapper .main .main-info .game-varieties .select-game-mode .header-info {
  margin: 0 0 2.1rem;
}

html body .wrapper .main .main-info .game-varieties .select-game-mode .mode-options {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 15.8% 24.5% 55.1%;
      grid-template-columns: 15.8% 24.5% 55.1%;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  grid-gap: 2.3%;
}

html body .wrapper .main .main-info .game-varieties .select-game-mode .mode-options a .content {
  margin: 0 auto;
}

html body .wrapper .main .main-info .game-varieties .select-game-mode .mode-options a .content .mode-name {
  color: #f9be16;
  text-align: center;
}

html body .wrapper .main .main-info .game-varieties .select-game-mode .mode-options a .content .line-name {
  width: 100%;
  height: 1px;
  background: -webkit-gradient(linear, right top, left top, from(rgba(79, 79, 83, 0)), color-stop(50%, #4f4f53), to(rgba(79, 79, 83, 0)));
  background: linear-gradient(to left, rgba(79, 79, 83, 0) 0%, #4f4f53 50%, rgba(79, 79, 83, 0) 100%);
}

html body .wrapper .main .main-info .game-varieties .select-game-mode .mode-options a .content .partners {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 1.7rem;
}

html body .wrapper .main .main-info .game-varieties .select-game-mode .mode-options a .content .partners .partner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 5vw;
}

html body .wrapper .main .main-info .game-varieties .select-game-mode .mode-options a .content .partners .partner .avatar-wthis-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

html body .wrapper .main .main-info .game-varieties .select-game-mode .mode-options a .content .partners .partner .avatar-wthis-line .line-between-avatars {
  width: 1vw;
  height: 1px;
  margin-top: 1.2vw;
}

html body .wrapper .main .main-info .game-varieties .select-game-mode .mode-options a .content .partners .partner .avatar-wthis-line .left {
  background: -webkit-gradient(linear, right top, left top, from(rgba(77, 77, 81, 0)), to(#4d4d51));
  background: linear-gradient(to left, rgba(77, 77, 81, 0) 0%, #4d4d51 100%);
}

html body .wrapper .main .main-info .game-varieties .select-game-mode .mode-options a .content .partners .partner .avatar-wthis-line .right {
  background: -webkit-gradient(linear, right top, left top, from(#4d4d51), to(rgba(77, 77, 81, 0)));
  background: linear-gradient(to left, #4d4d51 0%, rgba(77, 77, 81, 0) 100%);
}

html body .wrapper .main .main-info .game-varieties .select-game-mode .mode-options a .content .partners .partner:first-child .left {
  background: rgba(0, 0, 0, 0);
}

html body .wrapper .main .main-info .game-varieties .select-game-mode .mode-options a .content .partners .partner:last-child .right {
  background: rgba(0, 0, 0, 0);
}

html body .wrapper .main .main-info .game-varieties .select-game-mode .mode-options a .content .partners .line-between-avatars.short {
  width: 2vw;
}

html body .wrapper .main .main-info .game-varieties .select-game-mode .mode-options a .content .partners .gamer-name {
  font-size: 0.66vw;
  margin: 0.8rem 0 2.4rem 0;
}

html body .wrapper .main .main-info .game-varieties .rate-place {
  padding: 1vw 1.1vw 1vw 1.3vw;
}

html body .wrapper .main .main-info .game-varieties .rate-place .header-info {
  margin: 0 0 2.1rem;
}

html body .wrapper .main .main-info .game-varieties .rate-place .rate-info {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 42.6% 55.1%;
      grid-template-columns: 42.6% 55.1%;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  grid-gap: 2.3%;
}

html body .wrapper .main .main-info .game-varieties .rate-place .rate-info .rate-values {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  grid-gap: 6%;
}

html body .wrapper .main .main-info .game-varieties .rate-place .rate-info .rate-values a .item-rate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 2vw;
  padding: 2.55rem 0;
  font-size: 0.66vw;
  color: #ffffff;
}

html body .wrapper .main .main-info .game-varieties .rate-place .rate-info .rate-input {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 0.4% 47.77% 0.4% 37.45%;
      grid-template-columns: 0.4% 47.77% 0.4% 37.45%;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  grid-gap: 4.66%;
}

html body .wrapper .main .main-info .game-varieties .rate-place .rate-info .rate-input .rate-line-vert {
  width: 2px;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(-38.68%, #FFD128), to(#FFAE25)), #1B1D21;
  background: linear-gradient(0deg, #FFD128 -38.68%, #FFAE25 100%), #1B1D21;
}

html body .wrapper .main .main-info .game-varieties .rate-place .rate-info .rate-input .you-rate input {
  font-size: 0.66vw;
  letter-spacing: 0.02em;
  color: rgba(121, 122, 124, 0.5);
  width: 100%;
  border: none;
  background: none;
  padding: 1.7rem 0 0 2rem;
}

html body .wrapper .main .main-info .game-varieties .rate-place .rate-info .rate-input button {
  color: #1C1E23;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(-38.68%, #FFD128), to(#FFAE25)), #1B1D21;
  background: linear-gradient(0deg, #FFD128 -38.68%, #FFAE25 100%), #1B1D21;
  -webkit-box-shadow: 1px 1px 20px rgba(255, 194, 38, 0.3);
          box-shadow: 1px 1px 20px rgba(255, 194, 38, 0.3);
  border-radius: 3px;
  border: none;
}

html body .wrapper .main .main-info .player-profile {
  grid-area: "gamer-profile";
  background: rgba(29, 32, 36, 0.6);
}

html body .wrapper .main .main-info .player-rating {
  grid-area: "player-rating";
  background: rgba(29, 32, 36, 0.5);
}

html body .wrapper .main .main-info .daily-rate {
  grid-area: "daily-rate";
  background: rgba(29, 32, 36, 0.6);
}

html body .wrapper .main .result-of-games {
  padding-top: 2.5rem;
  padding-right: 0.2rem;
}

html body .wrapper .main .result-of-games .content .game-rezult {
  width: 100%;
  height: 6.62vw;
  margin: 2rem 0;
  background: #24272B;
}

html body .wrapper .main .result-of-games .content .game-rezult a .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1vw 1vw;
  text-align: center;
}

html body .wrapper .main .result-of-games .content .game-rezult a .content .gamer-info {
  width: 5vw;
}

html body .wrapper .main .result-of-games .content .game-rezult a .content .gamer-info .avatar {
  width: 3.2vw;
  height: 2.4vw;
  background: green;
  margin: 0 auto;
}

html body .wrapper .main .result-of-games .content .game-rezult a .content .gamer-info p {
  margin: 0.7rem 0 0.3rem;
}

html body .wrapper .main .result-of-games .content .game-rezult a .content .gamer-info .points {
  font-size: 0.66vw;
  color: #f9be16;
  margin: 0.3rem 0;
}

html body .wrapper .main .result-of-games .content .game-rezult a .content .result-of-game p {
  margin: 2rem 0 0;
  color: rgba(255, 255, 255, 0.41);
}

html body .wrapper .main .result-of-games .content .game-rezult a .content .result-of-game .score {
  margin: 0;
  font-size: 1.21vw;
  color: #ffffff;
}
/*# sourceMappingURL=main.css.map */