@font-face{
    font-family: 'Google Sans';
    src: url('../fonts/Google-Sans-Font/GoogleSans-Regular.ttf ');
    font-weight: normal;
    font-style: normal;
}


$left-col-xl: 7.03vw;

$color_dark: #1D2024;
$color_rect-bg: #24272B;
$color_darc-bg:#1B1D21;

                            // $color_darc-bg: red;

$color-border-1: #2A2B31;

                            // $color-border-1: green;


$text-color-main: #ffffff;
$text-color-altern: #797A7C;

                            // $text-color-altern: rgb(0, 225, 255);

$text-color-2: rgba(255, 255, 255, 0.41);           
$text-color-warning: #f9be16;

$font-size-base: 0.55vw;
$f-s-sm: $font-size-base * 1.2;
$f-s-norm: $font-size-base * 1.4;
$f-s-l: $font-size-base * 1.8;
$f-s-xl: $font-size-base * 2;
$f-s-xxl: $font-size-base * 2.2;
$f-s-xxxl: $font-size-base * 2.8;

html {
    font-size: 10px;
    font-family: 'Google Sans', sans-serif;
    color: #{$text-color-main};

    body {
        margin: 0;
        padding: 0;
        font-size: #{$f-s-norm};
        // background: #{$color_dark};

        * {
            box-sizing: border-box;
        }
        ul, li, input {
            margin: 0;
            padding: 0;
        }
        li {
            list-style-type: none;
        }

        a {
            text-decoration: none;
            color: #{$text-color-altern};
        }

        .link-block {
            display: block;
            height: 100%;
            width: 100%;
        }

        .wrapper {
            width: 99.4vw;
            min-height: 100vh;
            
            background: url(../images/wrapper-bg-img_2.png) no-repeat;
            position: relative;
            //transform: matrix(-1, 0, 0, 1, 0, 0);
            
            &::after {
                display: block;
                content: " ";
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                // background: rgba(24, 25, 29, 0.64);
            }
        
            .container-xl {
                display: grid;
                grid-template-columns: 7.03vw 75.83vw 16.54vw;
            }
        
            .header {
                display: grid;
                grid-template-rows: 5.02vw;
        
                .logo {
                    background: linear-gradient(90deg, #{$color_dark} 0%, #18191D 100%);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    
                }
                .info {
                    background: linear-gradient(90deg, #{$color_dark} 0%, #18191D 100%);
                                            background: #ffffaa;
                }
                
                .profile {
                    background: #{$color_dark};
                                             background: yellow;
                }
            } //header

            .main {
                display: grid;
                grid-template-rows: auto;

                .nav {
                    background: #{$color_dark};
                    display: flex;
                    flex-wrap: wrap;

                    ul {
                        width: 100%;
                        padding-top: 0.9rem;

                        li {
                            width: 100%;
                            height: 102px;
                            border-bottom: 2px solid #1B1D21;
                            border-bottom: 2px solid #ffffff;
                            //background: linear-gradient(90deg, #F4AC26 5.13%, #FDCB0C 100%);
                            //box-shadow: 0px 0px 20px #F8BA19;
                            
                        
                            a {

                                div {
                                    display: flex;
                                    flex-direction: column;
                                    //justify-content: center;
                                    align-items: center;
                                    
                                    padding-top: 2.3rem;

                                    svg {
                                        
                                    }
                                    p {
                                        //text-align: center;
                                        margin-top: 1.1rem;
                                    }
                                }
                            }
                        }
                    }

                }


                .main-info {
                    padding: 2.1vw 2.1vw 2.1vw 2.1vw;
                    display: grid;
                    grid-template-columns: 49.27vw 18.85vw;
                    grid-template-rows: 21.88vw 20.68vw;;
                    grid-gap: 2.2vw;

                    .main-info-box {
                        mix-blend-mode: normal;
                        backdrop-filter: blur(20px);
                        /* Note: backdrop-filter has minimal browser support */
                        border-radius: 3px;
                        border: 1px solid #{$color-border-1};
                    }

                    .dark-bg {
                        background: #{$color_darc-bg};
                        border: 1px solid #{$color-border-1};
                        border-radius: 3px;
                    }
                    
                    .game-varieties {
                        //grid-area: _game-varieties;
                        background: linear-gradient(180deg, rgba(29, 32, 36, 0.6) 45.23%, rgba(29, 32, 36, 0) 100%);

                        .QWERTY {
                            width: 3vw;
                            height: 2.5vw;
                            margin: 0 auto;
                            background: yellowgreen;
                        }

                        .header {
                            display: flex;

                            a {
                                width: 50%;
                                text-align: center;
                                border-bottom: 2px solid #{$color-border-1};
                                padding: 1.9rem 0 1.6rem;
                            }
                        }

                        .game-variet-subheader {
                            margin: 0 0 2.1rem 0;
                        }

                        .select-game-mode {
                            padding: 1vw 1.1vw 1vw 1.3vw;

                            .mode-options {
                                display: grid;
                                grid-template-columns: 15.8% 24.5% 55.1%;
                                grid-template-rows: auto;
                                grid-gap: 2.3%;

                                a {
                                   
                                    .content {
                                        margin: 0 auto;
                                        
                                        .mode-name {
                                            color: #{$text-color-warning};    
                                            text-align: center;
                                        }
                                        .line-name {
                                            width: 100%;
                                            height: 1px;
                                            background: linear-gradient(to left, rgba(79, 79, 83, 0) 0%, rgba(79, 79, 83, 1) 50%, rgba(79, 79, 83, 0) 100%);
                                        }
                                        .partners {
                                            display: flex;
                                            flex-wrap: nowrap;
                                            justify-content: center;
                                            padding-top: 1.7rem;

                                            .partner {
                                                display: flex;
                                                flex-wrap: wrap;
                                                justify-content: center;
                                                width: 5vw;

                                                .avatar-wthis-line {
                                                    display: flex;
                                                    flex-wrap: nowrap;

                                                    .line-between-avatars {
                                                        width: 1vw;
                                                        height: 1px;
                                                        margin-top: 1.2vw;
                                                    }

                                                    .left {
                                                        background: linear-gradient(to left, rgba(77, 77, 81, 0) 0%, rgba(77, 77, 81, 1) 100%);
                                                    }

                                                    .right {
                                                        background: linear-gradient(to left, rgba(77, 77, 81, 1) 0%, rgba(77, 77, 81, 0) 100%);
                                                    }
                                                }

                                                &:first-child {
                                                    .left {
                                                        background: rgba(0, 0, 0, 0);
                                                    }
                                                }

                                                &:last-child {
                                                    .right {
                                                        background: rgba(0, 0, 0, 0);
                                                    }
                                                }
                                            }
                                            
                                            .line-between-avatars.short {
                                                width: 2vw;
                                            }

                                            .gamer-name {
                                                font-size: #{$f-s-sm};
                                                margin: 0.8rem 0 2.4rem 0;
                                            }
                                        }
                                    }
                                }
                            }   
                        }

                        .rate-place {
                            padding: 1vw 1.1vw 1vw 1.3vw;

                            .rate-info {
                                display: grid;
                                grid-template-columns: 42.6% 55.1%;
                                grid-template-rows: auto;
                                grid-gap: 2.3%;

                                .rate-values {
                                    display: grid;
                                    grid-template-columns: repeat(4, 1fr);
                                    grid-template-rows: auto;
                                    grid-gap: 6%;

                                    a {
                                        .item-rate {
                                            display: flex;
                                            justify-content: center;
                                            align-items: center;
                                            height: 2vw;
                                            padding: 2.55rem 0;
                                            font-size: #{$f-s-sm};
                                            color: #{$text-color-main};
                                        }
                                    }
                                }

                                .rate-input {
                                    display: grid;
                                    grid-template-columns: 0.4% 47.77% 0.4% 37.45%;
                                    grid-template-rows: auto;
                                    grid-gap: 4.66%;

                                    .rate-line-vert {
                                        width: 2px;
                                        background:  linear-gradient(0deg, #FFD128 -38.68%, #FFAE25 100%), #1B1D21;
                                    }

                                    .you-rate {
                                        input {
                                            font-size: #{$f-s-sm};
                                            letter-spacing: 0.02em;
                                            color: rgba(121, 122, 124, 0.5);
                                            width: 100%;
                                            border: none;
                                            background: none;
                                            padding: 1.7rem 0 0 2rem;
                                        }
                                    }

                                    button {
                                        color: #1C1E23;
                                        background: linear-gradient(0deg, #FFD128 -38.68%, #FFAE25 100%), #1B1D21;
                                        box-shadow: 1px 1px 20px rgba(255, 194, 38, 0.3);
                                        border-radius: 3px;
                                        border: none;
                                    }
                                }
                                
                            }
                            
                        }
                        
                    }
                    .player-profile {
                        grid-area: "gamer-profile";

                        background: rgba(29, 32, 36, 0.6);

                        p {
                            
                        }
                    }
                    .player-rating {
                        grid-area: "player-rating";

                        background: rgba(29, 32, 36, 0.5);
                    }
                    .daily-rate {
                        grid-area: "daily-rate";

                        background: rgba(29, 32, 36, 0.6);
                        
                    }
                }



                .result-of-games {
                    padding-top: 2.5rem;
                    padding-right: 0.2rem;

                    .content {
                        // display: grid;
                        // grid-template-columns: 100%;
                        // grid-template-rows:  6.62vw;
                        // grid-row-gap: 2vw;

                        .game-rezult {
                            width: 100%;
                            height: 6.62vw;
                            margin: 2rem 0;
                            background: #{$color_rect-bg};

                            a {
                                .content {
                                    display: flex;
                                    justify-content: space-between;
                                    padding: 1vw 1vw;
                                    text-align: center;

                                    
                                    .gamer-info {
                                        width: 5vw;
                                        
                                        .avatar {
                                            width: 3.2vw;
                                            height: 2.4vw;
                                            background: green;
                                            margin: 0 auto; 

                                            svg {
                                                // padding: 1rem;

                                                // background-image: url(../images/avatars/VanyaKiller.png);
                                                // background-size: cover;
                                                // background-repeat: no-repeat;
                                            }
    
                                        }
                                        
                                        p {
                                            margin: 0.7rem 0 0.3rem;
                                        }
                                        .points {
                                            font-size: #{$f-s-sm};
                                            color: #{$text-color-warning};
                                            margin: 0.3rem 0;
                                        }
                                    }

                                    .result-of-game {
                                        p {
                                            margin: 2rem 0 0;
                                            color: #{$text-color-2};
                                        }
                                        .score {
                                            margin: 0;
                                            font-size: #{$f-s-xxl}; 
                                            color: #{$text-color-main};
                                        }
                                    }
                                }
                                
                            }
                        }


                    }
                }
            } //main






        }
    }

}
